.custom-form{
	.details-group{
		margin-bottom: 50px;

		@media screen and (max-width: 767px){
			margin-bottom: 30px;
		}

		&:last-of-type{
			margin-bottom: 0;

			@media screen and (max-width: 767px){
				margin-bottom: 30px;
			}
		}

		&.mobile-no-margin{
			@media screen and (max-width: 767px){
				margin-bottom: 0;
			}
		}

		.details-title-wrapper{
			padding-bottom: 15px;
			border-bottom:1px solid #d3d4d5;
			margin-bottom: 15px;

			.title{
				font-weight: bold;
				margin:0;
				font-size:18px;
				color:#464646;
			}
		}

		.details-wrapper{
			&:after{
				content: '';
				display: flex;
				clear:both;
			}
			
			.item{
				margin-bottom: 20px;

				@media screen and (max-width: 767px){
					margin-bottom: 15px;
				}

				&.input{
					margin-bottom: 10px;

					@media screen and (max-width: 767px){
						margin-bottom: 5px;
					}
					
					.col-left{
						padding-top:12px;
					}
				}

				&:after{
					content: '';
					display: flex;
					clear:both;
				}

				.col-left{
					color:#464646;
					width: 125px;
					float:left;

					@media screen and (max-width: 1199px){
						width: 100px;
					}

					span,
					label{
						font-weight: normal;
					}
				}

				.col-right{
					float:right;
					width: calc(100% - 140px);

					@media screen and (max-width: 1199px){
						width: calc(100% - 100px);
					}
				}

				.input-wrapper,
				.custom-select{
					max-width:80%;
					position: relative;

					@media screen and (max-width: 1199px){
						max-width: 100%;
					}
				}
			}
		}
	}

	.table-files{
		tr{
			&:first-of-type{
				td{
					padding-top:0;
				}
			}
			td{
				padding:10px 3px;

				@media screen and (max-width: 767px){
					padding:5px 3px;
				}

				&:first-of-type{
					padding-right:24px;
					padding-left:0;
				}
			}
		}
	}

	.file-upload-wrapper{
		margin-top: 10px;
		
		.btn{
			padding-left:35px;
			padding-right:35px;
		}
	}

	.custom-select{
		padding: 0;
	    margin: 0;
		overflow: hidden;
		background: #fff;
		border:1px solid #dbdbdb;
		font-size:15px;
		color:#696969;
		position: relative;

		&:after{
		    content: "\f078";
		    font: normal normal normal 14px/1 FontAwesome;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
			width:45px;
			height: 45px;
			position:absolute;
			top:0;
			right: 0;
			border-left:#f0f0f0;
			color:#696969;
			font-size:14px;
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 1;
		}
		

		select{
			appearance: none;
			background: none;
			border: none;
			box-shadow: none;
			width: 100%;
			padding:3px 50px 3px 15px;
			height: 45px;
			
			&:focus{
				outline: 0;
			}
		}
	}

	.form-control{
		background: #fff;
		border:1px solid #dbdbdb;
		font-size:15px;
		color:#696969;
		position: relative;
		box-shadow:none;
		border-radius:0;
		height: 45px;
		padding-left:15px;
		appearance: none;
	}

	.btn{
		display: flex;
		align-items:center;
		justify-content: center;
		font-weight: bold;
		color:#fff;
		font-size:15px;
		box-shadow:none;
		border-radius:0;
		outline: none !important;
		transition:background 0.3s ease-in-out;
		border:0;
		height: 45px;
		margin:0;

		&:before,
		&:after{
			content: '';
		    flex: 1 0 auto;
		}

		&.btn-blue{
			background: #0c76c7;

			&:hover,
			&:focus{
				background: darken(#0c76c7, 2%)
			}
		}

		&.btn-navy{
			background: #0e4b79;

			&:hover,
			&:focus{
				background: darken(#0e4b79, 2%)
			}
		}

		&.btn-black{
			background: #343b43;

			&:hover,
			&:focus{
				background: darken(#343b43, 2%)
			}
		}

		&.btn-ico{
			height: 33px;
			width: 44px;
		}

		&.btn-upload{
			border:1px solid #0e4b79;
			background:none;
			color:#4c4c4c;
			font-family: $font-secondary;
			font-weight: normal;
		}
	}

	.submit-wrapper{
		margin-top:20px;
		padding-top:20px;
		text-align: right;
		border-top:1px solid #d3d4d5;

		.btn{
			display: inline-block;
			padding-left:35px;
			padding-right:35px;
		}
	}

	.error{
		background: #C70B18;
		display: block;
		font-size:12px;
		padding:4px 0 4px 15px;
		color:#fff;
	}
}