html{
	overflow-x:hidden;
    overflow-y: auto;
}

body{
	font-family: $font-primary;
	position: relative;
	overflow-x:hidden;
	min-height:100vh;
	background:#e9e9e9;
}

a, button{
	outline: 0;
}



.site-wrapper{
	display: flex;
	max-width:100%;

	main{
		flex: 1;
		max-width: 100%;
	}

	.page-wrapper{
		padding:40px 95px 40px 35px;

		@media screen and (max-width: 1199px){
			padding:40px 30px 30px 30px;
		}

		@media screen and (max-width: 991px){
			padding: 30px 15px 15px;
		}

		.title-wrapper{
			margin-bottom: 30px;

			&.large-margin{
				margin-bottom: 50px;

				@media screen and (max-width: 767px){
					margin-bottom: 30px;
				}
			}

			.title{
				font-size:24px;
				color:#464646;
				font-weight: 300;
				margin:0 0 15px 0;
			}

			.subtitle{
				font-size: 17px;
				color:#464646;
				font-weight: 300;
				margin:0;

				@media screen and (max-width: 767px){
					font-size:16px;
				}
			}
		}
	}

	.content-wrapper{
		@media screen and (min-width: 1199px){
			.row {
				margin-left:-30px;
				margin-right: -30px;

				> div{
					padding-left:30px;
					padding-right: 30px;
				}
			}
		}
	}
}