#header{
	height: 79px;
	position: relative;
	z-index: 10;
	background:#fff;

	@media screen and (max-width: 767px){
		height: 50px;
	}

	@media screen and (max-width: 550px){
		height: 110px;
	}

	.btn-navigation-wrapper{
		float:left;
		justify-content: center;
		align-items: center;
		width:328px;
		height: 79px;
		background: #1e2228;
		display: flex;

		&:before,
		&:after{
			content: '';
		    flex: 1 0 auto;
		}

		@media screen and (max-width: 1199px){
			width: 295px;
		}

		@media screen and (max-width: 991px){
			width: 79px;
		}

		@media screen and (max-width: 767px){
			width: 50px;
			height: 50px;
		}
		
		.btn-toggle{
			background: none;
			padding:0;
			border:0;
			
			.text{
				font-size:24px;
				font-weight: normal;
				color: #fff;

				@media screen and (max-width: 991px){
					display: none;
				}
			}

			.icon{
				display: none;

				@media screen and (max-width: 991px){
					display: block;
				}

				i{
				    width: 25px;
				    height: 2px;
				    background: #fff;
				    display: block;
				    margin-bottom: 5px;

				    &:last-of-type{
				    	margin-bottom: 0;
				    }
				}
			}
		}
	}

	.logo-wrapper{
		float:left;

		@media screen and (max-width: 767px){
			height: 50px;

			img{
				width: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	.logout-wrapper{
		float:right;

		.btn-logout{
			width: 95px;
			height: 79px;
			background: #f1f1f1;
			border:0;
			display: flex;
			justify-content: center;
			align-items:center;
			color:#1e2228;
			font-size:24px;

			&:before,
			&:after{
				content: '';
			    flex: 1 0 auto;
			}

			@media screen and (max-width: 767px){
				height: 50px;
				width: 50px;
				font-size:20px;
			}
		}
	}

	.user-wrapper{
		float:right;
		margin:10px 35px 0 0;

		@media screen and (max-width: 767px){
			margin:3px 15px 0 0;
		}

		@media screen and (max-width: 550px){
			width: 100%;
			text-align: right;
			padding-right: 15px;
			margin-top:8px;
		}

		a{
			display: block;
			text-decoration: none;
		}

		.name{
			font-weight: bold;
			font-size:24px;
			color:#343b43;
			font-family: $font-secondary;
			display: inline-block;
			position:relative;

			@media screen and (max-width: 767px){
				font-size:20px;
			}

			&:before{
			    content: "\f078";
			    font: normal normal normal 14px/1 FontAwesome;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    position:absolute;
			    left:calc(100% + 5px);
			    top:9px;
			    font-size:14px;
			    line-height: 1;

			    @media screen and (max-width: 767px){
					
					font-size:12px;
				}
			}
		}

		.role{
			font-weight: bold;
			font-size:16px;
			color:#343b43;
			font-family: $font-secondary;
			display: block;
			line-height: 1;

			@media screen and (max-width: 767px){
				font-size:14px;
			}
		}
	}
}