#sidebar-helper{
	display:none;

	@media screen and (max-width: 991px){
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		position:absolute;
		z-index: 4;

		&.active{
			display: block;
		}
	}
}
#sidebar{
	background: #343b43;
	width: 328px;
	min-height: calc(100vh - 79px);
	bottom:0;
	z-index: 5;
	overflow:auto;

	@media screen and (max-width: 1199px){
		width: 295px;
		min-width: 295px;
	}

	@media screen and (max-width: 991px){
		margin-left:-295px;
		will-change: transform;
		max-width:100%;
		transition:transform 0.3s ease-in-out;

		&.active{
			transform: translateX(100%);
		}
	}

	.sidebar-inner{
		.search-wrapper{
			padding: 15px 35px;
			position:relative;

			::-webkit-input-placeholder { 
			    color:    #959595;
			}
			::-moz-placeholder { 
			   color:    #959595;
			   opacity:  1;
			}
			:-ms-input-placeholder { 
			   color:    #959595;
			}
			::-ms-input-placeholder { 
			   color:    #959595;
			}

			.form-control{
				background:none;
				box-shadow:none;
				color:#fff;
				border:0;
				border-bottom:2px solid #959595;
				border-radius:0;
				width: 100%;
				font-family: $font-secondary;
				font-size:21px;
				padding:12px 30px 5px 0px;
				height: auto;
				transition: color 0.2s ease-in-out, border-color 0.2s esae-in-out;

				&:not(:placeholder-shown){
					border-color:#fff;
				}
			}

			.btn-submit{
				position:absolute;
				top:50%;
				right: 35px;
				transform:translateY(-50%);
				background:none;
				border-radius:0;
				border:0;
				padding:0;
				z-index: 5;

				i{
					color:#fff;
					font-size:24px;
				}
			}
		}

		#main-nav{
			ul{
				li{
					position:relative;
					
					&.active{
						&:before{
							content: '';
							width: 12px;
							height: 100%;
							position:absolute;
							left:0;
							top:0;
							background: #ed5900;
						}

						a{
							background: #222932;
						}
					}

					a{
						padding:9px 35px;
						display: block;
						font-size:18px;
						color:#fff;
						font-family: $font-secondary;
						text-decoration: none;
						transition:background 0.2s ease-in-out;

						&:hover{
							background:#222932;
						}
					}
				}
			}
		}
	}
}