.table{

	thead{
		tr th{
			background: #b8babc;
			vertical-align: middle;
			border:0;
			color:#343b43;
			font-weight: bold;
			padding:10px 30px;
			font-size:17px;

			@media screen and (max-width: 767px){
				font-size:16px;
				padding:8px 12px;
			}

		}
	}

	tbody{
		tr {
			td{
				color:#343b43;
				font-size:15px;
				padding:10px 30px;
				border:0 ;

				@media screen and (max-width: 767px){
					font-size:14px;
					padding:8px 12px;
				}

				.btn-more{
					font-weight:600;
					color:#343b43;
				}
			}

			&:nth-child(even){
				td{
					background: #dbdbdc
				}
			}
		}
	}
}