.toast-top-right{
	right:23px;
	top:96px;

	@media screen and (max-width: 767px){
		top:65px;
		right: 15px;
	}

	@media screen and (max-width: 550px){
		top:125px;
	}
}

#toast-container{
	.toast{
		width:370px;
	    max-width: calc(100vw - 30px);
		font-family: $font-secondary;
		padding: 25px 40px 25px 50px;

		@media screen and (max-width: 767px){
			padding: 20px 40px 20px 40px;
		}

		&.toast-success{
			box-shadow:none;
			border-radius:0;
			background: rgba(21, 190, 33, 0.53);
			opacity: 1;
			background-image:none !important;
		}

		.toast-title{
			font-size:20px;
			position: relative;
			line-height: 1.1;

			@media screen and (max-width: 767px){
				font-size:18px;
			}

			&:before{
				content: "\f00c";
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
		        font: normal normal normal 25px/1 FontAwesome;
		        position: absolute;
		        right: calc(100% + 9px);
		        top:-1px;

		        @media screen and (max-width: 767px){
					font-size:22px;
					right: calc(100% + 7px)
				}
			}
		}

		.toast-message{
			font-weight: 300;
			font-size:16px;

			@media screen and (max-width: 767px){
				font-size:14px;
			}
		}

		.close-ico{
			opacity: 1;
			color:#fff;
			font-size:16px;
			text-shadow:none;
			font-weight: normal;
			position:absolute;
			top:20px;
			right: 20px;
		}
	}
}