<div id="add-page">
	<div class="page-wrapper">
		<div class="title-wrapper large-margin">
	    	<h2 class="title">Step One</h2>
	    	<h3 class="subtitle">Predefined values, only numbers in total amount, digits only in rates, next redirects to step two.</h3>
	    </div>
	    <div class="content-wrapper">
	    	<form class="custom-form" name="stepOneForm" ng-submit="nextStep()" novalidate>
				<div class="row">
					<div class="col-sm-6">
						<div class="details-group">
							<div class="details-wrapper">
								<div class="item input">
									<div class="col-left">
										<label for="loan_type">Loan type</label>
									</div>
									<div class='col-right'>
										<div class="custom-select">
											<select ng-model="loan.loan_type" ng-options="loanType.name as loanType.name for loanType in loanTypes" required name="loan_type" id="loan_type">
												<option value=""></option>
									    	</select>
									    	<div class="clearfix"></div>
		                                    <div ng-messages="stepOneForm.loan_type.$error" ng-show="stepOneForm.$submitted || stepOneForm.loan_type.$touched">
		                                        <span ng-message="required" class="error">This field is required.</span>
		                                    </div>
									    </div>
									   
									</div>
								</div>
								
								<div class="item input">
									<div class="col-left">
										<label for="total_amount">Total amount</label>
									</div>
									<div class='col-right'>
										<div class="input-wrapper">
											<input type="text" name="total_amount" id="total_amount" ng-model="loan.total_amount" number-decimal required class="form-control">
											<div class="clearfix"></div>
		                                    <div ng-messages="stepOneForm.total_amount.$error" ng-show="stepOneForm.$submitted || stepOneForm.total_amount.$touched">
		                                        <span ng-message="required" class="error">This field is required.</span>
		                                        <span ng-message="numberDecimal" class="error">This number is wrong.</span>
		                                    </div>
		                                </div>
									</div>
								</div>
								
								<div class="item input">
									<div class="col-left">
										<label for="rates">Rates</label>
									</div>
									<div class='col-right'>
										<div class="input-wrapper">
											<input type="text" name="rates" id="rates" value="" ng-model="loan.rates" integer required class="form-control">
											<div ng-messages="stepOneForm.rates.$error" ng-show="stepOneForm.$submitted || stepOneForm.rates.$touched">
		                                        <span ng-message="required" class="error">This field is required.</span>
		                                        <span ng-message="integer" class="error">This number is wrong.</span>
		                                    </div>
		                                </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="submit-wrapper without-border">
					<input type="submit" class="btn btn-blue" value="Next">
				</div>
			</form>
		</div>

	</div>

	
</div>