<div id="add-page">
	<div class="page-wrapper">
		<div class="title-wrapper large-margin">
	    	<h2 class="title">Step Two</h2>
	    	<h3 class="subtitle">Required fields, daterpicker, valid format for fiscal code.</h3>
	    </div>
	    <div class="content-wrapper">
		    <form class="custom-form" name="stepTwoForm" ng-submit="nextStep()" novalidate>
				<div class="row">
					<div class="col-sm-6 ">
						<div class="details-group mobile-no-margin">
							<div class="details-wrapper">
								<div class="item input">
									<div class="col-left">
										<label for="name">Name</label>
									</div>
									<div class="col-right">
										<div class="input-wrapper">
											<input type="text" value="" ng-model="loan.name" name="name" id="name" required class="form-control">
											<div class="clearfix"></div>
		                                    <div ng-messages="stepTwoForm.name.$error" ng-show="stepTwoForm.$submitted || stepTwoForm.name.$touched">
		                                        <span ng-message="required" class="error">This field is required.</span>
		                                    </div>
										</div>
									</div>
								</div>
								
								<div class="item input">
									<div class="col-left">
										<label for="surname">Surname</label>
									</div>
									<div class="col-right">
										<div class="input-wrapper">
											<input type="text" value="" ng-model="loan.surname" name="surname" id="surname" required class="form-control">
											<div class="clearfix"></div>
		                                    <div ng-messages="stepTwoForm.surname.$error" ng-show="stepTwoForm.$submitted || stepTwoForm.surname.$touched">
		                                        <span ng-message="required" class="error">This field is required.</span>
		                                    </div>
										</div>
									</div>
								</div>
								
								<div class="item input">
									<div class="col-left">
										<label for="fiscal_code">Fiscal Code</label>
									</div>
									<div class="col-right">
										<div class="input-wrapper">
											<input type="text" value="" ng-model="loan.fiscal_code" name="fiscal_code" id="fiscal_code" fiscal-code required class="form-control">
											<div class="clearfix"></div>
		                                    <div ng-messages="stepTwoForm.fiscal_code.$error" ng-show="stepTwoForm.$submitted || stepTwoForm.fiscal_code.$touched">
		                                        <span ng-message="required" class="error">This field is required.</span>
		                                        <span ng-message="fiscalCode" class="error">Wrong format.</span>
		                                    </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 ">
						<div class="details-group">
							<div class="details-wrapper">
								<div class="item input">
									<div class="col-left">
										<label for="date">Date of Birth</label>
									</div>
									<div class="col-right">
										<div class="input-wrapper">
											<datepicker date-format="dd-MM-yyyy">
												<input ng-model="loan.date" value="" type="text" required id="date" name="date" class="form-control"  />
											</datepicker>
											<div class="clearfix"></div>
		                                    <div ng-messages="stepTwoForm.date.$error" ng-show="stepTwoForm.$submitted || stepTwoForm.date.$touched">
		                                        <span ng-message="required" class="error">This field is required.</span>
		                                    </div>
										</div>
									</div>
								</div>
								
								<div class="item input">
									<div class="col-left">
										<label for="address">Address</label>
									</div>
									<div class="col-right">
										<div class="input-wrapper">
											<input type="text" value="" ng-model="loan.address" required id="address" name="address" class="form-control">
											<div class="clearfix"></div>
		                                    <div ng-messages="stepTwoForm.address.$error" ng-show="stepTwoForm.$submitted || stepTwoForm.address.$touched">
		                                        <span ng-message="required" class="error">This field is required.</span>
		                                    </div>
										</div>
									</div>
								</div>
								
								<div class="item input">
									<div class="col-left">
										<label for="phone">Phone</label>
									</div>
									<div class="col-right">
										<div class="input-wrapper">
											<input type="text" value="" ng-model="loan.phone" required id="phone" name="phone" class="form-control">
											<div class="clearfix"></div>
		                                    <div ng-messages="stepTwoForm.phone.$error" ng-show="stepTwoForm.$submitted || stepTwoForm.phone.$touched">
		                                        <span ng-message="required" class="error">This field is required.</span>
		                                    </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="submit-wrapper without-border">
					<input type="submit" class="btn btn-blue" value="Next">
				</div>
			</form>
		</div>

	</div>

	
</div>