<div id="add-page">
	<div class="page-wrapper">
		<div class="title-wrapper large-margin">
	    	<h2 class="title">Step Three</h2>
	    	<h3 class="subtitle">User is able to download/add/or remove an attachment and change the total amount and rates number.</h3>
	    </div>
	    <div class="content-wrapper">
		    <form class="custom-form" name="stepThreeForm" ng-submit="save()" novalidate>
				<div class="row">
					<div class="col-sm-6 ">
						<div class="details-group">
							<div class="details-title-wrapper">
								<h3 class="title">Customer details</h3>
							</div>
							<div class="details-wrapper">
								<div class="item ">
									<div class="col-left">
										<span>Name</span>
									</div>
									<div class="col-right">
										<span>{{ loan.name }} {{ loan.surname }}</span>
									</div>
								</div>
								<div class="item">
									<div class="col-left">
										<span>Fiscal Code</span>
									</div>
									<div class="col-right">
										<span>{{ loan.fiscal_code }}</span>
									</div>
								</div>
								<div class="item">
									<div class="col-left">
										<span>Date of birth</span>
									</div>
									<div class="col-right">
										<span>{{ loan.date }}</span>
									</div>
								</div>
								<div class="item">
									<div class="col-left">
										<span>Address</span>
									</div>
									<div class="col-right">
										<span>{{ loan.address }}</span>
									</div>
								</div>
								<div class="item">
									<div class="col-left">
										<span>Phone</span>
									</div>
									<div class="col-right">
										<span>{{ loan.phone }}</span>
									</div>
								</div>
								<div class="item">
									<div class="col-left">
										<span>Loan Type</span>
									</div>
									<div class="col-right">
										<span>{{ loan.loan_type }}</span>
									</div>
								</div>
								<div class="item">
									<div class="col-left">
										<span>Totak amount</span>
									</div>
									<div class="col-right">
										<span>{{ loan.total_amount }}</span>
									</div>
								</div>
								<div class="item">
									<div class="col-left">
										<span>Rates</span>
									</div>
									<div class="col-right">
										<span>{{ loan.rates }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="details-group">
							<div class="details-title-wrapper">
								<h3 class="title">Attachments</h3>
							</div>
							<div class="details-wrapper">
								<table class="table-files">
									<tr ng-repeat="(key, file) in files">
										<td>{{ file.name }}</td>
										<td><button type="button" ng-click="deleteFile(key)" class="btn btn-black btn-ico"><i class="fa fa-trash"></i></button></td>
										<td><a href="{{ file | ngfDataUrl }}" target="_blank" class="btn btn-blue btn-ico"><i class="fa fa-download"></i></a></td>
									</tr>
								</table>

								<div class="file-upload-wrapper">
									<button type="button" ngf-select="addFile($file)" class="btn btn-upload" ngf-max-size="25MB">Add an attachment</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="submit-wrapper without-border">
					<input type="submit" class="btn btn-blue" value="Proceed">
				</div>
			</form>
		</div>

	</div>

	
</div>