<div id="details-page">
	<div class="page-wrapper">
		<div class="title-wrapper large-margin">
	    	<h2 class="title">Details</h2>
	    	<h3 class="subtitle">User is able to download/add/or remove an attachment and change the total amount and rates number.</h3>
	    </div>
	    <div class="content-wrapper" ng-hide="notFound">
	    	<form class="custom-form" name="updateForm" ng-submit="update()" novalidate>
				<div class="row">
					<div class="col-sm-6">
						<div class="details-group">
							<div class="details-title-wrapper">
								<h3 class="title">Loan details</h3>
							</div>
							<div class="details-wrapper">
								<div class="item ">
									<div class="col-left">
										<span>Loan type</span>
									</div>
									<div class="col-right">
										<span>{{ loan.loan_type }}</span>
									</div>
								</div>
								
								<div class="item input">
									<div class="col-left">
										<label for="total_amount">Total amount</label>
									</div>
									<div class="col-right">
										<div class="input-wrapper">
											<input type="text" value="{{ loan.total_amount }}" ng-model="loan.total_amount" name="total_amount" id="total_amount"  number-decimal required class="form-control">
											<div ng-messages="updateForm.total_amount.$error" ng-show="updateForm.$submitted || updateForm.total_amount.$touched">
		                                        <span ng-message="required" class="error">This field is required.</span>
		                                        <span ng-message="numberDecimal" class="error">This number is wrong.</span>
		                                    </div>
										</div>
									</div>
								</div>
								
								<div class="item input">
									<div class="col-left">
										<label for="rates">Rates</label>
									</div>
									<div class="col-right">
										<div class="input-wrapper">
											<input type="text" value="{{ loan.rates }}" ng-model="loan.rates" id="rates" name="rates" integer required class="form-control">
											<div ng-messages="updateForm.rates.$error" ng-show="updateForm.$submitted || updateForm.rates.$touched">
		                                        <span ng-message="required" class="error">This field is required.</span>
		                                        <span ng-message="integer" class="error">This number is wrong.</span>
		                                    </div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="details-group">
							<div class="details-title-wrapper">
								<h3 class="title">Customer details</h3>
							</div>
							<div class="details-wrapper">
								<div class="item">
									<div class="col-left">
										<span>Name</span>
									</div>
									<div class="col-right">
										<span>{{ loan.name }}</span>
									</div>
								</div>
								<div class="item">
									<div class="col-left">
										<span>Fiscal Code</span>
									</div>
									<div class="col-right">
										<span>{{ loan.fiscal_code }}</span>
									</div>
								</div>
								<div class="item">
									<div class="col-left">
										<span>Date of birth</span>
									</div>
									<div class="col-right">
										<span>{{ loan.date }}</span>
									</div>
								</div>
								<div class="item">
									<div class="col-left">
										<span>Address</span>
									</div>
									<div class="col-right">
										<span>{{ loan.address }}</span>
									</div>
								</div>
								<div class="item">
									<div class="col-left">
										<span>Phone</span>
									</div>
									<div class="col-right">
										<span>{{ loan.phone }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="details-group">
							<div class="details-title-wrapper">
								<h3 class="title">Attachments</h3>
							</div>
							<div class="details-wrapper">
								<table class="table-files">
									<tr ng-repeat="file in files">
										<td>{{ file.name }}</td>
										<td><button type="button" ng-click="deleteFile(file.id, file.loan_id)" class="btn btn-black btn-ico"><i class="fa fa-trash"></i></button></td>
										<td><a href="{{ file.url }}" target="_blank" class="btn btn-blue btn-ico"><i class="fa fa-download"></i></a></td>
									</tr>
								</table>

								<div class="file-upload-wrapper">
									<button type="button" ngf-select="uploadFile($file)" class="btn btn-upload" ngf-max-size="25MB">Add an attachment</button>
								</div>
							</div>
						</div>
					</div>
					
				</div>

				<div class="submit-wrapper">
					<input type="submit" class="btn btn-blue" value="Save">
				</div>
			</form>
	    </div>

	    <div class="alert alert-warning" ng-show="notFound">
		    <p>Loan not found</p>
	    </div>
	</div>
</div>