<div id="results-page">
	<div class="page-wrapper">
		<div class="title-wrapper">
	    	<h2 class="title">Loans</h2>
	    	<h3 class="subtitle">The user should be able to filters the loans with respective button.</h3>
	    </div>
	    <div class="filters-wrapper custom-form">
	    	<div class="row">
			    <div class="col-sm-3 col-lg-3">
			    	<div class="custom-select">
				    	<select ng-model="loanTypeFilter" ng-options="loanType.name as loanType.name for loanType in loanTypes">
				    		<option value="">All</option>
				    	</select>
			    	</div>
			    </div>
			    <div class="col-sm-3 col-lg-3">
				    <div class="input-wrapper">
				    	<input type="text" class="form-control" placeholder="Enter Fiscal Code">
				    </div>
			    </div>
			    <div class="col-sm-3 col-lg-2">
				    <div class="btn-wrapper">
					    <button type="submit" class="btn btn-block btn-blue" ng-click="filter()">Filter Results</button>
				    </div>
			    </div>
			    <div class="col-sm-3 col-lg-2">
				    <div class="btn-wrapper">
					    <a ui-sref="add.step-one" class="btn btn-block btn-navy">Request Loan</a>
				    </div>
			    </div>
			</div>
	    </div>
	    <div class="table-wrapper">
	    	<div class="table-responsive" ng-show="filtered.length">
			    <table class="table">
			    	<thead>
			    		<tr>
			    			<th>Customer</th>
			    			<th>Loan Type</th>
			    			<th>Total Amount</th>
			    			<th>Rates</th>
			    			<th>Details</th>
			    		</tr>
			    	</thead>
			    	<tbody>
			    		<tr ng-repeat="loan in loans | filter: filterBy as filtered">
			    			<td>{{ loan.name }}</td>
			    			<td>{{ loan.loan_type }}</td>
			    			<td>{{ loan.total_amount }}</td>
			    			<td>{{ loan.rates }}</td>
			    			<td><a ui-sref="loan({ loanId: loan.id })" class="btn-more"><i class="fa fa-sign-in" aria-hidden="true"></i> show</a></td>
			    		</tr>
			    	</tbody>
			    </table>
		    </div>

		    <div class="alert alert-warning" ng-hide="filtered.length">
			    <p>No results</p>
		    </div>
		</div>
	</div>
</div>