#results-page{
	.filters-wrapper{
		margin-bottom: 30px;

		.row{
			@media screen and (max-width: 1199px){
				margin-left:-10px;
				margin-right: -10px;

				> div{
					padding-left:10px;
					padding-right:10px;

					@media screen and (max-width: 767px){
						margin-bottom: 10px;

						&:last-of-type{
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}